---
layout: layout.liquid
title: Home
---

<h1>Explorer's Blog<h1>

<p>Hello Explorer's! I hope these blog posts find you well. These posts are an insight into what I have done and seen while in Space. Please join me for the ride, and enjoy the logs from my adventures around the galaxy!<p>

<h2>Log Book<h2>

<a href="first-log.md" title="Log 001">Log #001</a>
